html, body {
  background: #c3c3c3;
  color: white;
  height: 100%;
}

.button {
  margin-right: 20px;
}

.content {
  min-height: 100%;
}

.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}

.footer {
  height: 50px;
  margin-top: -50px;
}
