html, body {
  background: #c3c3c3;
  color: white;
  height: 100%;
}

.button {
  margin-right: 20px;
}

.content {
  min-height: 100%;
}

.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}

.header {
    padding: 30px 0 30px 45px;
    background-color: #2e4e6b;
    color: white;
    font-size: 22px;
}
